/* geral */

:root {
	--maintitle-color: #3A404E;
	--title-color: #101828;
  	--text-color: #667085;
  	--subtext-color: #8E2424;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", cursive;
}

h1, h2, h3, h4, h5, h6 {color: var(--title-color);}

h1 {font-size: 3em;}
h2 {font-size: 2.25em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.125em;}
h5 {font-size: 1em;}

span {color: var(--subtext-color);}

p {color: var(--text-color);}

section,
footer {text-align: center;}

/* navbar */

nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.logo {
	display: flex;
	align-items: center;
	margin-top: 1.625rem;
}

.logo::after {
	content: 'OptimusTech';
	color: var(--maintitle-color);
	font-weight: 500;
	font-size: 1.125em;
	line-height: 1.125em;
	margin-left: 0.5rem;
}

nav ul {
	list-style: none;
	margin-top: 1.75rem;
}

nav li {
	display: inline;
	margin-left: 2rem;
}

nav li a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
	padding: 1.75rem 1rem;
}

.botoes li:last-child a {
	color: #FFF;
	background-color: var(--subtext-color);
	border-radius: 0.5rem;
	padding: 0.625rem 1.125rem;
}

/* header */

.sobre {
	margin: 6rem 0;

}

.sobre span {
	font-size: 1em;
	font-weight: 600;
	margin-top: 6rem;
	padding: 0;
}

.sobre h1 {
	font-weight: 600;
	margin-top: 1.5rem;
}

.sobre p {
	
	font-size: 1.25em;
	max-width: 49.4375rem;
	margin: 2.25rem auto 0 auto;
}

/* metricas */

.metricas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 2rem;
}

.metricas span {
	font-size: 3.75em;
	font-weight: 600;
}

.metricas p {
	font-size: 1em;
}

.metricas div {
	display: block;
	text-align: left;
	width: 17.5rem;
}

/* imagem */

.imagem {
	padding-top: 6.25rem;
}

.imagem span {
	font-size: 0.875em;
	font-weight: 500;
	padding: 0.25rem 0.75rem;
	background-color: rgba(142, 36, 36, 0.05);
	border-radius: 1rem;
}

.imagem p {
	font-size: 1.25em;
}

.imagem img {
	margin-top: 4rem;
	max-width: 100%;
	height: auto;
}

/* vagas */

.vagas {
	margin: 0 auto;
	max-width: 48rem;
	text-align: left;
}

.vagas h3 {
	margin-top: 4rem;
	margin-bottom: 0.5rem;
}

.vaga {
	border: 1px solid #EAECF0;
	border-radius: 1rem;
	padding: 1.5rem;
	margin-top: 1.5rem;
}

.info {margin-top: 2rem;}

.info span {
	font-size: 1em;
	font-weight: 500;
	color: var(--text-color);
}

.info span:last-child {margin-left: 1.5rem;}

/* depoimento */

.depoimento {
	margin: 6rem auto;
	padding: 4rem 0;
	border-radius: 1rem;
	background-color: rgba(195, 25, 25, 0.03);
	max-width: 76rem;
}

.depoimento span {
	font-size: 0.875em;
	font-weight: 600;
}

.depoimento p {
	margin-top: 0.25rem;
	font-size: 0.875em;
	font-weight: 400;
}
.depoimento h2, 
.depoimento h5 {margin-top: 1rem;}

.depoimento img {margin-top: 2rem;}

/* rodapé */

footer {
	background-color: #F9FAFB;
	padding: 6rem 0;
}

footer p {
	font-size: 1.25em;
	margin-top: 1.25rem;
}

footer form {margin: 2.5rem 0 2rem 0;}

footer input {
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid #D0D5DD;
	width: 22.5rem;
}

footer button {
	margin-left: 1rem;
	background-color: var(--subtext-color);
	border-color: var(--subtext-color);
	border-radius: 0.5rem;
	color: #FFF;
	font-size: 1em;
	padding: 0.75rem 1.25rem;
}

::placeholder {
	font-size: 1rem;
}

footer span {color: #98A2B3;}